.pacman-container {
  display: flex;
  align-items: center;
}

.pacman {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  object-fit: contain;
  object-position: center;
  z-index: 1;
}

.food-queue {
  display: flex;
  gap: 10px;
  animation: moveQueue 0.5s linear infinite;
}

.food-queue img {
  z-index:2;
  width: 40px;
  height: 40px;
}

@keyframes moveQueue {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
