@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../../fonts/RobotoSlab-Regular.ttf');
}

html,body{
  height:100% ;
  background-color: #C0C0C0;
}

.mainelements{
  font-family: Arial, Helvetica, sans-serif;
  height:calc(100vh - 64px);
  display: flex;
  flex-direction: row;
}

.organinfo{
  background-color: #C0C0C0;
  width:calc(50vw - 381px);
  display: flex;
  flex-direction: column;
  
}


.organinfolabel{
  font-family: 'Helvetica W01 Light';
  margin-left: 20px;
  font-size: large;
  min-width:100%;

}

.organinfoinputs{

  font-family: 'Helvetica W01 Light';
  margin-bottom: 20px;
  border-width: 0px;
  border-bottom-width:1px;
  border-bottom-color: #1C2E3B ;
  background-color: #C0C0C0;
  margin-left: 20px;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:3px;
  width: 21vw;
  border-radius: 0px;
  font-size:17px;
  color:#1C2E3B;
  resize: none;
}

.organinfoinputsingle{

  font-family: 'Helvetica W01 Light';
  margin-bottom: 20px;
  border-width: 0px;
  border-bottom-width:1px;
  border-bottom-color: #1C2E3B ;
  background-color: #C0C0C0;
  margin-left: 20px;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:3px;
  height:35px;
  width: 21vw;
  border-radius: 0px;
  font-size:17px;
  color:#1C2E3B;
  resize: none;
}

.model2d{
  margin-left: 0px;;
  height:calc(100vh - 64px);
  width:845px;
  background-color: #C0C0C0;
}

.inputinfo{
  background-color: #C0C0C0;
  width:calc(50vw - 381px);
}

.inputinfoelements{
  margin-left:30px;
  display: flex;
  flex-direction: column;
}

.inputinfoheading{
  margin-left:30px;
  font-family: 'Helvetica W01 Light';
  color:#1C2E3B;
  margin-bottom: 18px;
  margin-top: 30px;
  font-size:26px;
}
/* .inputaddfood{
  white-space: pre-wrap; 
  overflow-wrap: break-word;
  resize: none;
  background-color: #fffdf9;
  height:60px;
  border-color: #1C2E3B;
  border-width: 1px;
  width:80%;
  margin-left:30px;
} */
.inputbuttons{
  margin-left:30px;
  font-family: 'Helvetica W01 Light'; 
  font-size: medium;
  width: 178px;
  background-color: #1C2E3B;
  border-color:#1C2E3B;
  border-width:0px;
  padding:0;
  color:white;
  height:40px;
  padding:8px 16px 10px 16px;
  margin-bottom: 20px;
  transition: color 0.25s, border-color 0.3s, 
  background-color 0.3s, 
   border-width 0.3s;
}

.inputbuttons:hover{
  border-color:#1C2E3B;
  border-width:1px;
  color:#1C2E3B;
  background-color: #CA8263;
}

.textareas{
  white-space: pre-wrap; 
  background-color: #C0C0C0;
  overflow-wrap: break-word;
  border-width: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #1C2E3B;
  width:80%;
  height: 30px;
  max-height:150px;
  resize:none;
  margin-left:30px;
  margin-bottom: 20px;  ;
}
textarea::-webkit-scrollbar {
  width: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #1C2E3B; 
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

textarea::-webkit-scrollbar-track {
  background: #ffffff;
}



.path-heart:hover {
 
  fill-opacity: 0.2;
}
.path-lungs:hover {
 
  fill-opacity: 0.2; 
}
.path-brain:hover {
 
  fill-opacity: 0.2; 
}
.path-stomach:hover {
  
  fill-opacity: 0.2;
}
.path-liver:hover {
  
  fill-opacity: 0.2;
}
.path-intestine:hover {
 
  fill-opacity: 0.2; 
}