.content-overlay4 {
    display: flex;
    flex-direction: column;
    background-color: #CA8263 ; /* Slightly transparent for floating effect */
    width: 94%; /* Width of the main content area */
    margin-top: 20px;
    height: 635vh;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 10; /* Ensures overlay is above the background */
    display: flex;
    margin-bottom: 2rem;
}
.about-text {
    position: relative; /* Make the text container relative */
    z-index: 2; /* Place text content above the blurred background */
}

.text-right {
    text-align: right; /* Aligns the text content to the right */
    margin-left: auto;  /* Pushes the element to the right */
}
.q8{
    margin-bottom: 100px;
}
